.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {

}

#checkboxes label {
  display: block;
}

#checkboxes label: hover {
  background-color: #1e90ff;
}
